@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <h1>Bienvenido a la Página Principal</h1>
    <p>Por favor, carga tu archivo Excel con los datos de los productos:</p>

    <form asp-action="UploadExcel" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Cargar Archivo Excel</button>
    </form>
</div>
